<h3> Starters </h3>
<p>
$7  Tiny Hot Dogs </br>
Can't eat just one. Who came up with this idea, anyway? </br>
$5O Onion Strands. </br>
Like onion rings, only different. </br>
$6F  latbread.</br>
As flat as we can make it, so we can save some dough.</br>
</p>
<h3> Entrees </h3>
$27  Steak</br>
The best steak this side of Hubbard St.</br>
$17  Aha Tuna Plate</br>
Learn something new with every bite.</br>
$22  Chicken Ceasar Salad</br>
Fresh lettuce, grilled chicken, and ceaser dressing on the side.</br>
<p>

</p>
<h3> Drinks </h3>
<p>
$5  Soft Drinks</br>
Who are we kidding? We only serve iced tea.</br>
$6  Beer</br>
Want your favorite local brew? Too bad. We don't have it.</br>
</p>

<h3> Deserts </h3>
<p>
$8  Strawberry Cheesecake</br>
The best cheesecake in Chicago.</br>
$6  M&M's</br>
Plain or peanut.</br>
</p>



